<!DOCTYPE html>
<html>
<head>
    <title>Stress History</title>

    <style>

        body {
            font-family: Arial;
            padding: 20px;
            background: #f4f4f4;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: white;
        }

        th, td {
            padding: 10px;
            border: 1px solid gray;
            text-align: center;
        }

        th {
            background: #ddd;
        }

    </style>

</head>

<body>

<h1>Stress Monitoring History</h1>

<table>

<tr>
    <th>ID</th>
    <th>Timestamp</th>
    <th>Device</th>
    <th>Mean EDA</th>
    <th>Heart Rate</th>
    <th>HRV</th>
    <th>Status</th>
    <th>Stress Probability</th>
</tr>

{% for row in records %}

<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
</tr>

{% endfor %}

</table>

</body>
</html>